body {

    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}
#grid_wrapper2 {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 500px minmax(100px, 1fr);
    grid-template-areas:
    "hea hea"
    "nav nav"
    "ks1 ks2"
    "foo foo"
    ;
}
#grid_wrapper {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 50px 500px minmax(100px, 1fr);
    grid-template-areas:
    "hea hea"
    "nav nav"
    "sec1 sec2"
    "foo foo"
    ;
}
#grid_wrapper3{
    display: grid;
    height: 100vh;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 50px 350px minmax(100px, 1fr);
    grid-template-areas:
    "hea hea hea"
    "nav nav nav"
    "card1 card2 card3"
    "foo foo foo"
    ;
}
header {
    background-color: #27ae60;
    color: black;
    text-align: center;
    padding: 1em 0;
    grid-area: hea;
}
nav {
    display: flex;
    background: #27ae60;
    grid-area: nav;
    justify-content: center;
    align-items: center;
}

.main-content {
    padding: 0;
}

#sec1{
    
    grid-area: sec1;
}
#Naturbild{ 
    width: 100%;
    height: 100%;
}
#text_over1{
    position: absolute;
    top: 23%;
    left: 2%;
    z-index: 1;
}
#text_over2{
    position: absolute;
    top: 28%;
    left: 2%;
    z-index: 1;
}
#sec2{
    grid-area: sec2;
}
#Sibirisk{
    width: 100%;
    height: 100%;
}

footer {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    grid-area: foo;

}

#link_list{
    display: flex;
    width: 100%;
    justify-content: space-around;
    list-style: none;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: aqua;
}

#kontaktsec1{
    grid-area: ks1;
    background-color: white;

}
#kontaktphone{
    height: 100%;
    width: 100%;
}
#kontaktsec2{
    grid-area: ks2;
    background-color: white;
}

#cardsec1{
    grid-area: card1;
    background-color: #27ae60;
    font-size: 1.5rem;
    color: black;

}
#cardsec2{
    grid-area: card2;
    justify-items: center;
    background-color: #27ae60;
    font-size: 1.5rem;
    color: black;

}
#cardsec3{
    grid-area: card3;
    background-color: #27ae60;
    font-size: 1.5rem;
    color: black;
}
#norr{
    width: 90%;
    height: 90%;
    border-radius: 32px;
}
#grand{
    height: 90%;
    width: 90%;
    border-radius: 32px;
}
#banff{
    width: 90%;
    height: 90%;
    border-radius: 32px;
}